<?xml version="1.0" encoding="UTF-8"?>
<!--
    JBoss, Home of Professional Open Source
    Copyright 2013, Red Hat, Inc. and/or its affiliates, and individual
    contributors by the @authors tag. See the copyright.txt in the
    distribution for a full listing of individual contributors.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at
    http://www.apache.org/licenses/LICENSE-2.0
    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/default.xhtml">
	<ui:define name="content">
		<h1>DevOps - Registro - Modificacion - Eliminacion de Cursos</h1>

		<div>
			<p>Aplicacion formato WAR corriendo en JBoss EPA 7.2.</p>
			<h3>Esta es una aplicacion de pruebas para:</h3>
			<img src="resources/gfx/mitocode.jpg" />
		</div>

		<h2>Formulario de Registro</h2>
		<h:form>

			<p:growl showDetail="false" sticky="false" />

			<h:panelGrid columns="3">
				<h:outputText value="Nombre Curso" />
				<p:inputText id="txtCurso"
					value="#{cursoBean.entityCurso.nombreCurso}" required="true" />
				<p:message for="txtCurso" />

				<h:outputText value="" />
				<p:commandButton value="Registrar" update="@form, opTable"
					process="@form" action="#{cursoBean.registrar}" />
				<h:outputText value="" />

			</h:panelGrid>
			<br />
			<br />
			<h2>Lista de Cursos</h2>

			<p:outputPanel id="opTable">
				<p:dataTable id="dtCurso" var="curso" value="#{cursoBean.lstCurso}"
					widgetVar="cursoWV" emptyMessage="No hay ningun registro"
					paginator="true" rows="10" paginatorPosition="top"
					paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
					rowsPerPageTemplate="5,10,15">

					<p:column headerText="Id">
						<h:outputText value="#{curso.id}" />
					</p:column>

					<p:column headerText="Curso">
						<h:outputText value="#{curso.nombreCurso}" />
					</p:column>

					<p:column headerText="Opciones">
						<p:commandButton value="Eliminar" update="@form" process="dtCurso"
							action="#{cursoBean.eliminar}">
							<f:setPropertyActionListener value="#{curso}"
								target="#{cursoBean.entityCursoDelete}" />
						</p:commandButton>
					</p:column>

				</p:dataTable>
			</p:outputPanel>

		</h:form>


	</ui:define>
</ui:composition>
